#allCards, #allCards div {
  display: flex;
}

#allCards {
  flex-direction: column;
  justify-content: space-evenly;

  width: 90vw;
  height: 90vh;
  border: 0.5vh solid #FFC567;
  border-top-color: #FFA866;
}

.row {
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  height: 15%;
}

.cardDiv {
  display: flex;
  justify-content: center;
  width: 13vh;
  height: 13vh;
}

.cardDiv img {
  object-fit: cover;
}

