#allCards, #allCards div, #otherGameContent, #pointTracker {
  display: flex;
}


#otherGameContent {
  flex-direction: row;
  width: 90vw;
  height: 10vh;
  

  border: 2px solid blueviolet;
}

#allCards {
  flex-direction: column;
  justify-content: space-evenly;

  width: 90vw;
  height: 90vh;
  border: 0.5vh solid #FFC567;
  border-top-color: #FFA866;
}

#pointTracker {
  flex-direction: column;
  height: 9vh;
  margin-left: 10%;
}

#pointTracker h5 {
  margin: 0px;
  padding: 0px;
}

#winTracker {
  flex-direction: column;
  height: 9vh;
  margin-left: 10%;
}

#winTracker h5 {
  margin: 0px;
  padding: 0px;
}

.row {
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  height: 15%;
}

.cardDiv {
  display: flex;
  justify-content: center;
  width: 10vh;
  height: 12vh;
}

.cardDiv img {
  object-fit: contain;
}

.blockDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blue;
  
  opacity: 0.0;
}

#winDisplay {
  margin-left: 5%;
}


#startNewGame {
  background-color: greenyellow;
}


