#header {
    display: flex;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
    border: 1px solid orange;
}

#pages {
    display: flex;
    flex-direction: row;
}

.pageswitch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    background-color: yellow;
}